<!DOCTYPE html>
<html>
    <head>
        <style>
            * {
                background: gray;
                font-family: arial, sans-serif;
                color: white
            }
        </style>
    </head>

    <body>
        <h2><%= @power.name %></h2>
        <p><%= @power.description %></p>
    </body>
</html>