<h2>All Heroines</h2>

<ul>
  <% @heroines.each do |heroine| %>
      <li>    
          <%= link_to heroine.super_name, heroine_path(heroine) %>
      </li>
    <br>
  <% end %>
</ul>
<br><br><br>

<a href='/heroines'>Heroines</a><br>
<a href='/heroines/new'>Add New Heroines </a><br><br>
<a href='/powers'>Powers</a><br>
<a href='/powers/new'>Add New Powers</a><br>
