<%= render 'form' %>



<br><br><br>
<a href='/heroines'>Heroines</a><br>
<a href='/heroines/new'>Add New Heroines </a><br><br>
<a href='/powers'>Powers</a><br>
<a href='/powers/new'>Add New Powers</a><br>